// DEFAULT THEME
//--------------------------------------
$color-morado : #342179;
$color-verde : #0DA94A;




// ALL COLORS
//--------------------------------------
$blanco : #FFFFFF;


// COLORS BUTTONS
//--------------------------------------


// COLORS FORMULÁRIOS
//--------------------------------------



// TRANSITIONS AND TRANSFORM
//--------------------------------------

//  Layout
$full : 100%;
$max : 1200px;

//Typografias

$pequeña: 12px;
