// DEFAULT THEME
//--------------------------------------
$color-theme: #f80000;
$color-text-theme: #525252;
$font-family: 'roboto', sans-serif;
$line-height: 1.4;


// ALL COLORS
//--------------------------------------
$color-white:  #ffff;
$color-gray: #525252;
$color-black: #000000;
$color-red: #f80000;
$color-grey-light: #c9c9c9;
$color-green: #1b8e00;


// COLORS BUTTONS
//--------------------------------------
$color-primary: #1b8e00;
$color-secondary: #000000;
$color-success: $color-primary;
$color-danger: $color-red;
$color-warning: yellow;
$color-dark: black;
$color-light: $color-grey-light;


// COLORS FORMULÁRIOS
//--------------------------------------
$input-color: $color-theme;
$input-bg: $color-white;
$input-border: $color-theme;
$input-placeholder: $color-theme;
$input-bg-submit: $color-theme;
$input-error-placeholder: $color-red;


// TRANSITIONS AND TRANSFORM
//--------------------------------------
$transition: all 0.2s ease;
$transform: scale(1.05);
