.produtos-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

    .produto-item {

        display: flex;
        width: 22%;
        flex-direction: column;
        justify-content: space-between;

    }
}

@media (max-width: 768px) {

    .produtos-contenedor {
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
        height: 80px;
        white-space:nowrap;
        height: fit-content;
        gap: 32px;
        padding-bottom: 16px;
        .produto-item {

            width: 50%;
    
        }
    }
    
}