.contenedor-galeria {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 16px 0px;
    padding: 0;
    width: 100%;
    height: 100px;
    gap: 5px;
    // justify-self: center;
    // flex-wrap: nowrap;
    // overflow-x: scroll;
    // overflow-y: hidden;
    // white-space:nowrap;
    // height: fit-content;
    // padding-bottom: 16px;


   
        a.enlace-galeria {
            img.img-galeria {
            height: 85.5px;
            width: 136.5px;
            }
        }
    }

    @media (max-width: 1200px) {

        .contenedor-galeria {
            justify-self: center;
            flex-wrap: nowrap;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space:nowrap;
            height: fit-content;
            padding-bottom: 16px;
        }
        
    }
    

        