.banner {
    height: 250px;
    display: flex;
    width: 100%;
    padding-top: 30px;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .banner {
        height: fit-content;
        justify-content: flex-start;
        padding-top: 0;

        
    }

    
}

