// FOOTER
//--------------------------------------
footer {
    flex-direction: column;
    margin-top: 32px;

    .direccion {
        height: 220px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        p {
            color: $gris;
            font-size: 18px;
        }
    }
    
    .derechos {
        background-color: $color-verde;
        height: 40px;
        div {
            justify-content: center;
            p {
                text-align: center;
                color: $blanco;
                font-size: 12px;
                font-weight: 200;
                margin: 0;
            }
        }
    }
}

@media (max-width: 768px) {

    footer {
        .direccion {
            flex-direction: column;
            height: fit-content;
            gap: 18px;
            p {
                text-align: center;
            }
        }
    }
    
}