// GERAL
//--------------------------------------

body {
    font-family: 'Roboto Slab', serif;
}




.contenedor-principal {
    width: $full;
    
    height: fit-content;
    display: flex;
    justify-content: center;
}

.contenedor-secundario {
    width: $full;
    max-width: $max;
    margin: 0 auto;
    display: flex;
    align-content: center;
    align-self: center;
    display: flex;
}

//TITULOS EN CONTENIDO

.titulo-general-morado {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    width: fit-content;
    margin-bottom: 32px;

    h2 {
        margin: 0;
        font-weight: 700;
        font-size: 36px;
        color: $color-morado;
    }

    h2::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        bottom: 0;
        left: 0%;
        border-bottom: 4px solid $color-verde;
    }
    
}

.titulo-general-blanco {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    width: fit-content;
    margin-bottom: 32px;

    h2 {
        margin: 0;
        font-weight: 700;
        font-size: 36px;
        color: $blanco;
    }

    h2::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        bottom: 0;
        left: 0%;
        border-bottom: 4px solid $color-verde;
    }
    
}

.titulo-general-blanco-morado {
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    width: fit-content;
    margin-bottom: 32px;

    h2 {
        margin: 0;
        font-weight: 700;
        font-size: 36px;
        color: $blanco;
    }

    h2::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        bottom: 0;
        left: 0%;
        border-bottom: 4px solid $color-morado;
    }
    
}

.padding {
    padding: 64px 0 64px;
}

.columnas {
    display: flex;
    flex-direction: column;
}

.filas {
    display: flex;
    flex-direction: row;
}

.texto-parrafo {
    line-height: 1.5;
    font-size: 18px;
    color: $gris2;
    margin: 0;
}

//Cambio del color del precio

.price-color-up {
    color: $color-verde;
}

.price-color-down {
    color: red;
}